.discountProgressBar {
	.title {
		margin: 0;

		font-size: 18px;
		line-height: 24px;

		letter-spacing: 0.04em;
	}

	.nextTier {
		margin: 0;
		margin-bottom: 10px;

		font-size: 14px;
		line-height: 18px;
		color: #2c272d;
	}

	.tierBarsContainer {
		display: flex;
	}

	.tierDiscountContainer {
		display: flex;
		justify-content: space-around;

		.tierDiscount {
			width: 100%;

			font-size: 11px;
			font-weight: bold;

			text-align: right;
		}
	}
}
